# Node modules
node_modules/
package-lock.json

# TypeScript build artifacts
dist/
*.tsbuildinfo

# Env files
.env
.env.local
.env.development
.env.production

# VSCode
.vscode/
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.sql

MIGRATION_COMPLETE.md

src/pwid.txt
src/dbqueries.txt

run-migration.js